.box {
    height: 21px;
    width: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border:  1px solid #aaa;
    box-shadow: inset 2px 2px 1px #c9c9c94a;
    transition: all .25s;
}

.box p {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    line-height: 1;
    animation: popIn .2s ease-in-out forwards;
}

.box p:after {
    content: url(./starburst.svg);
    position: absolute;
    top: -10px;
    left: -7px;;

    opacity: 0;
    transform-origin: center;
    animation: dashes .8s forwards .4s linear;
    animation-delay: inherit;
}

.box.is-miss {
    background-color: #f3f3f3;
    color: #484747fa;
    box-shadow: inset 2px 2px 1px #acacac4a;
}

.box.is-win {
    background-color: #ffedaa;
    box-shadow: inset 2px 2px 1px #f3de8f, 0 0 18px #ffedaa5e;
}

@keyframes dashes {
    0% {
        opacity: 0;
        stroke: transparent;
        transform: scale(.5);
    }
    75% {
        opacity: 1;
        transform: rotate(360deg);
    }
    100% {
        opacity: 0;
        transform: rotate(360deg);
    }
}


.is-space {
    width: 8px;
    border: none;
    box-shadow: none;
}

@keyframes popIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}