.box {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 2px 2px 1px #edecec inset;
    transition: all .25s;
}

.box p {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    line-height: 32px;
    animation: popIn .2s ease-in-out forwards;
}

.box p:after {
    content: url(./starburst.svg);
    position: absolute;
    top: -4px;
    left: -4px;;
    transform-origin: center;
    animation: dashes .8s forwards .4s linear;
    animation-delay: inherit;
}

.box.is-miss {
    background-color: #f2f2f5;
    box-shadow: inset 2px 2px 1px #dbdbe2;
}

.box.is-win {
    transition: background-image .25s;
}

.box.is-space {
    background-color: transparent;
}

@keyframes dashes {
    0% {
        opacity: 0;
        stroke: transparent;
        transform: scale(.5);
    }
    75% {
        opacity: 1;
        transform: rotate(360deg);
    }
    100% {
        opacity: 0;
        transform: rotate(360deg);
    }
}


.is-space {
    width: 8px;
    border: none;
    box-shadow: none;
}

@keyframes popIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 500px) {
    .box {
        height: 25px;
        width: 25px;
    }

    .box p {
        line-height: 25px;
    }
}
