form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 70%;
}

input:not([type=submit]) {
    font-size: 22px;
}

input {
    max-width: 100%;
    text-align: center;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
}
input[type=text] {
    appearance: none;
    -webkit-appearance: none;
    padding: 6px 12px;
    background-color: transparent;
    border-width: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    will-change: background-color;
    transition: background-color .25s;
}

input[type=text]:focus {
    outline: none;
}

input[type=text]:focus::placeholder {
    color: transparent;
}

@media (max-width: 560px) {
    form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    form input:not([type=submit]) {
        font-size: 16px;
        line-height: 22px;
    }
}