form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 70%;
    input {
        text-align: center;
    
        &[type=text] {
            font-size: 22px;
        }
    }
}
input {
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
}
input[type=text] {
    appearance: none;
    -webkit-appearance: none;
    padding: 6px 12px;
    background-color: transparent;
    border-width: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    will-change: background-color;
    transition: background-color .25s;
}

input[type=text]:focus {
    outline: none;
}

input[type=text]:focus::placeholder {
    color: transparent;
}
