.mistakes {
    display: flex;
    align-items: center;
    gap: 12px;
}
.bubbles {
    display: flex;
    align-items: center;
    gap: 4px;
}
.bubble {
    height: 21px;
    width: 21px;
    background-color: midnightblue;
    border-radius: 50%;

}
.bubble.hidden {
    animation: hide .2s forwards .5s linear;
}

@keyframes hide {
    100% {
        height: 0;
        width: 0;
    }
}

.wavy-text span {
    display: inline-block;
    min-width: 4px;
    animation: wavy-text 1s forwards 1s;
    animation-delay: calc(.1s * var(--i));
}
@keyframes wavy-text {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-10px)
    }
}